@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color: aliceblue;
  font-family: 'Open Sans', sans-serif;
  color: rgb(80, 80, 80);
  line-height: 1.6;
  margin: 0
}

h1, h2, h3 {
  font-family: 'Poppins';
  color: rgb(80, 80, 80);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
  color: rgb(0, 200, 0)
}

p {
  font-size: 18px;
}

a {
  color: rgba(0, 0, 150, 0.7);
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: rgb(13, 13, 14, 1);
}

#avatar{
    width: 100px;
    border-radius: 50%;
    height: 100px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  margin: 20px 0px;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

li{
    list-style: none;
    display: inline;
}

#smiley i {
  background-color: rgb(235, 235, 25);
  border-radius: 50%;
}

.social-link {
  font-size: 60px;
  padding: 10px;
}

.btn {
  color:  white;
  padding: 10px 20px;
  background-color: lightblue;
  font-weight: 900;
  text-decoration: none;
  border-radius: 6px;
}

.btn:hover {
  background-color: darkslateblue;
}

ul{
  padding: 0;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
